/* Стили для всего, что не относится к медиа запросам */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,700;1,400;1,500;1,700&family=Lato&family=Luxurious+Roman&family=Montserrat:ital,wght@1,200&family=Nunito:ital,wght@1,200&family=Poppins:ital,wght@1,400;1,500&family=Ramaraja&family=Roboto+Serif:ital,opsz,wght@1,8..144,200&display=swap');

html, body {
    height: 100%;
    font-family: 'Roboto Serif', serif;
}

.page {
    height: 100%;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.header__h1{
    font-family: 'Roboto Serif', serif;
    font-size: 42px;
    font-weight: 700;
    margin: 64px 0 10px 0;
    color: #423A3A;
}

.header__h1:hover{
   text-decoration: 4px underline #0187FC;
}

.circle:hover{
    text-decoration: 3px underline #0187FC;
}

.text:hover{
    text-decoration: 3px underline #0187FC;
}
 

 
.circle{
    width: 35px;
    height: 35px;
    background: #FC4483;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.group{
    display: flex;
    align-items: center;
    width: 427px;
    height: 63px;
}

.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10px;
}

.text {
    text-align: center;
}



.group__box__p{
    font-family: 'Roboto Serif', serif;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0; 
}


/* header end */

/* form */

.content{
    box-sizing: border-box;
    margin: 40px 0;
}


.content__form{
    width: 70%;
    margin: 0 auto;
    
}

.content__input{
    width: 100%;
    padding: 15px;
    border-radius: 7px;
    
}

.content__input:hover{
    text-decoration: 3px underline #0187FC;
}

.content__form-select {
    position: absolute;
    width: 100%;
    top: 289px;
    left: 220px;
}

.content__form-select-item {
    background: #F9FCFF;
    padding: 16.5px 25px 16.5px 15px;
    font-size: 16px;
    border: 1px solid #423A3A;
    border-radius: 7px;
    margin-bottom: 10px;
    width: 70%;
}

.content__form-select-item:hover{
    text-decoration: 3px underline #0187FC;
}


/* images */
section{
    box-sizing: border-box;
    padding: 40px 0;
    margin-right: 25px;
}

.section__img {
   display: flex;
   padding: 0 40px 0 40px;
   justify-content: center;
}
.section__images {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: #e8f4ff;
   margin-right: 20px;
   border-radius: 7px;
   width: 114px;
   height: 114px;
}

.images__section {
    margin-bottom: 9px;
}

.section__p {
    margin: 0;
}

.section__images:hover{
   background-color: #0187fc;
   color: white;
}

.section__p{
    text-align: center;
    font-size: 13px;
}

.section__p:hover {
    text-decoration: 3px underline blue;
}

.images__section {
    width: 60px;
    height: 57px;
}

/*grid */
.container{
    box-sizing: border-box;
    
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-content: center;
}    

.boxes{
    background-color: #e8f4ff;
    padding: 0 20px;
    border-radius: 7px;
}

.wrapper__box{
    display: flex;
    justify-content: space-between;
    margin: 15px 13px;
}


.wrapper__box__p {
    font-family: 'Roboto Serif', serif;
    font-weight: 600;
    font-size: 15px;
    color: #445666;
    text-decoration: 3px underline #fff;
}
.wrapper__box__p:hover{
    text-decoration: 3px underline #FC4483;
}

.wrapper__box_p_s {
    display: flex;
}

.wrapper__box_s {
    margin-right: 4px;
}

.wrapper__box_s:hover {
    text-decoration: 3px underline #FC4483;
}

.wrap__box_p {
    font-family: 'Roboto Serif', serif;
    font-weight: 600;
    font-size: 15px;
    color: #423a3a;
}

.wrap__box_p:hover {
    text-decoration: 3px underline #FC4483;
}

.wrapper__boxes_p {
    position: absolute;
    bottom: 146px;
    left: 260px;
}

.wrapper__box_p_p {
    font-weight: 400;
    font-size: 12px;
    color: #666666;
}

.wrapper__box_p_p:hover {
    text-decoration: 3px underline #FC4483;
}

.wrapper__img_p {
    display: flex;
    justify-content: space-around;
}

.wrapper__text_p {
   font-weight: 400;
   font-size: 12px;
   color: #666666;
}

.wrapper__text_p:hover {
    text-decoration: 3px underline #FC4483;
}

.wrapper__icon{
    border: 2px solid #0187FC;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    aling-items: center;
}

.wrapper__icon:hover {
    border-color: #FC4483;
}



/* footer*/
footer{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.footer__box {
    width: 40em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 40px;
}

.footer__p {
    text-align: center;
    margin: 17px 0;
    font-weight: 700;
    font-size: 16px;
    color: #0187FC;
}

.footer__p:hover {
    text-decoration: 3px underline #0187FC;
}

.footer__wrapper {
    width: 432px;
    height: 64px;
    border: 1px solid rgba(68, 86, 102, 0.45);
    margin-bottom: 20px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.footer__wrapper:hover {
    border-color: #FC4483;
}

.footer__text:hover {
    text-decoration: 3px underline #FC4483;
}

.footer__text__p {
    font-family: 'Roboto Serif', serif;
    font-weight: 400;
    font-size: 16px;
}

.footer__span {
    color: #0187FC;
}

.footer__btn {
    margin: 20px 0 0 0;
}

.footer__button{
    width: 182px;
    height: 40px;
    border-radius: 7px;
    border: 0;
    padding: 10px 20xp;
    background: #0187FC;
    color: white;
}

.footer__wrapper__p {
    margin-top: 11px;
    margin-bottom: 74px;
    font-family: 'Roboto Serif', serif;
    font-weight: 300;
    font-size: 14px;
    color: #666666;
}

.footer__wrapper__p:hover {
    text-decoration: 3px underline #0187FC;
}

@media screen and (min-width: 660px) and (max-width: 960px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}