html, body {
    height: 100%;
}

.page {
    height: 100%;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

 
.circle{
    width: 35px;
    height: 35px;
    background: #FC4483;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
}

.group{
    display: flex;
    align-items: center;
    width: 427px;
    height: 63px;
}

.box{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10px;
}

.text p{
    text-align: center;
    font-size: 14px;
    
} /* header end */

/* form */




.container__form{
   margin: 30px;
    
}


.container__input{
    width: 784px;
    height: 54px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}



.text{
    text-align: center;
    color: #000;
    font-weight: bold;
}

/* images */
section{
    box-sizing: border-box;
    padding: 40px 0;
    margin-right: 25px;
    
    
}

.images{
   display: flex;
   padding: 0 40px 0 40px;
}
.col-3 {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: #e8f4ff;
   margin-right: 20px;
   border-radius: 7px;
   width: 114px;
   height: 114px;
}

.col-3 img {
    margin-bottom: 9px;
}

.col-3 p {
    margin: 0;
}

.col-3:hover{
   background-color: #0187fc;
   color: white;
}

.col-3 p{
    text-align: center;
    font-size: 13px;
}

img{
    width: 60px;
    height: 57px;
}

/*grid */
.container{
    box-sizing: border-box;
}

.wrapper{
    display:grid;
    grid-template-columns: 315px 315px 315px 315px;
    grid-auto-rows: minmax( 115px, auto);
}

 .wrapper .box{
    background-color: #e8f4ff;
    margin: 20px;
    float: right;

}

 .box:hover{
    cursor: pointer;

}

.text__left p{
    text-align: left;
    font-size: 14px;
    
}

/* footer*/
footer{
    box-sizing: border-box;
}

.footer{
    margin: 0 auto;
    text-align: center;

    
}

.footer h2{
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #0187fc;
}

.footer span{
    color: #0187fc;
}

.footer p{
    width: 30%;
    padding: 10px;
    border: 2px solid ;
    border-radius: 7px;
    margin: 10px auto;
    
}

button{
    width: 182px;
    height: 40px;
    background-color: #0187fc;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;
}

button:hover{
    background-color: white;
    color: #0187fc;
}


.footer h4{
    font-size: 14px;
}


